---
import NewServiceItem from './NewItem.astro'
import { type TNewService  } from './types'
interface Props {
	items: TNewService[];
	title?: string;
	class?: string;
	id?: string
	show?: boolean
}
const { items = [], title, class: classNames = '', id, show = true, ...rest } = Astro.props;
---
{show && items.length > 0 && (
<section class={`${classNames}`} {...rest}>
	<div class="container">
		{title && (<h2 class="text-xl sm:text-4xl font-normal mb-8 sm:mb-14">{title}</h2>)}
		<div class="flex justify-center flex-wrap gap-y-10">
			{items.map(item => <NewServiceItem item={item} />)}
		</div>
	</div>
</section>
)}