@reference "../../scss/app.css";
	
.preview-slider {
	position: relative;
}

.preview-list {
	display: flex;
	overflow: hidden;
}
.preview-list:not(:hover) .preview-link:first-child .preview-img {
	opacity: 1;
}
.preview-list:hover .preview-link::before {
	top: 97%;
}

.preview-link {
	flex-basis: 100%;
	margin-bottom: 0 !important;
}
.preview-link::before {
	content: '';
	position: relative;
	width: 96%;
	height: 3px;
	top: 103%;
	left: 2%;
	background-color: #000;
	display: block;
	transition: all .3s;
}
.preview-link:hover .preview-img {
	opacity: 1;
}
.preview-link:hover::before {
	@apply bg-accent-500;
}

.preview-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .3s ease-out;
	z-index: -1;
	overflow: hidden;
}
.preview-img img {
	position: relative;
	height: 100%;
	max-width: 100%;
	width: 100%;
	left: 50%;
	top: 50%;
	object-fit: cover;
	object-position: center;
	transform: translate(-50%, -50%) scale(1);
}
.preview-img .preview-total {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 16px;
}
.preview-img.no-height img {
	width: 100%;
	height: auto;
}

.glightbox-container .ginner-container.desc-top .gslide-description {
	order: 0 !important;
	position: relative !important;
	flex: 0 !important;
	padding: 0 !important;
	overflow: inherit !important;
}

.ginner-container.desc-top .gslide-image {
	order: 1 !important;
}

@media (hover: none){
	.hover-unavail\:hidden {
		display: none;
	}
}

.no-scrollbar {
	scrollbar-width: none!important;
}