---
interface Props {
	car: any
}
const {car = {}} = Astro.props;
import { declOfNums, currencyFormat } from '@/js/utils/numbers.format';
import PreviewSlider from './PreviewSlider.astro';
const price = car.data.priceWithDiscount ? car.data.priceWithDiscount : (car.data.max_discount ? car.data.price - car.data.max_discount : car.data.price);
---

<div class="car-item flex flex-col justify-between shadow-2xl pb-3 xl:pb-4 relative" data-price={ price } data-model={ car.data.folder_id } data-total={ car.data.total }>
	<PreviewSlider car={car} />
	<div class="flex-grow mb-3 md:mb-5 px-3 xl:px-4 flex flex-col justify-end">
		{ car.data.max_discount ? (
			<div class="discount">с&nbsp;учетом выгоды до&nbsp;<span class="font-semibold">{ currencyFormat(car.data.max_discount) }</span></div>
		): ('')}
		<div class="sm:text-lg md:text-xl xl:text-3xl font-medium mt-3"><span class="text-sm text-gray-400">от</span>&nbsp;{currencyFormat(price)}</div>
		<h3 class="xs:!text-xs sm:!text-base md:!text-lg xl:!text-xl font-normal mt-1 transition-colors hover:text-accent flex-grow">
			<a href={ car.slug } class="!no-underline !text-black !mb-0"><b class="font-bold">{ car.data.folder_id }</b> { car.data.modification_id }</a>
		</h3>
		<div class="text-xs sm:text-sm md:text-base mt-0.5 sm:mt-1 text-gray-400">{ car.data.year }&nbsp;/&nbsp;{car.data.run}&nbsp;км</div>
		<div class="text-xs sm:text-sm md:text-base mt-0.5 sm:mt-1 text-gray-900">{ car.data.total } {declOfNums(car.data.total)}</div>
	</div>
	<div class="px-3 xl:px-4">
		<a href={ car.slug } class="btn block !px-3 !py-2 md:!text-base sm:!text-sm !text-xs !text-white !no-underline !mb-0">Подробнее</a>
	</div>
</div>

<style lang="scss">
	.discount{
		@apply relative bg-accent-500 text-white rounded-xl w-fit text-[10px] sm:text-xs py-1 px-2.5 z-[1];
		&::before {
			@apply content-[''] w-2.5 h-2.5 bg-accent-500 border-r-0 border-b-0 absolute -bottom-[5px] left-4 rotate-[-135deg] z-[-1];
		}
	}
</style>