---
interface Props {
	car: any;
}
const { car= {} } = Astro.props
import './cars.sass'
---
<div class="preview-slider mb-2.5">
    <div class="preview-list aspect-[4/3]">
		{
			car.data.thumbs.length > 0 ? (
				car.data.thumbs.map((img:string, idx:number) => (
					idx < 5 && (
						<a
							href={car.slug}
							class="preview-link"
						>
							<div class="preview-img lazy">
								<img src="/img/loading-simple.gif" data-src={img} alt={car.mark_id +' '+car.folder_id}>
							</div>
						</a>
					)
				))
			) : (
				<a href={car.slug} class="absolute inset-0 w-full h-auto !mb-0 lazy" title="Подробнее">
					<img src="/img/loading-simple.gif" data-src={car.data.image} class="relative top-1/2 -translate-y-1/2 w-full h-auto object-contain" alt="No Photo">
				</a>
			)
		}        
    </div>
</div>