.model {
	@apply min-h-[350px] sm:min-h-[420px] h-auto py-0 mb-20 xl:mb-32 text-white;
	&__info {
		@apply relative lg:absolute h-[350px] sm:h-[420px] w-full top-0 left-0 bg-cover bg-center z-[1];
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgba(#000, 0.4);
			z-index: -1;
		}
	}
}
