---
import BrandLinkImage from './BrandLinkImage.astro';
import BrandLink from './BrandLink.astro';

const {
  type = 'links'
} = Astro.props;

const brands = [
  { brand: 'Jetour', url: '/remont/jetour/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-jetour.webp' },
  { brand: 'Soueast', url: '/remont/soueast/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-soueast.webp' },
  { brand: 'Ливэн', url: '/remont/livan/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-livan.webp' },
  { brand: 'Baic', url: '/remont/baic/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-baic.webp' },
  { brand: 'Kaiyi', url: '/remont/kaiyi/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-kaiyi.webp' },
  { brand: 'Hyundai', url: '/remont/hyundai/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-hyundai.webp' },
  { brand: 'Kia', url: '/remont/kia/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-kia.webp' },
  { brand: 'Nissan', url: '/remont/nissan/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-nissan.webp' },
  { brand: 'Renault', url: '/remont/renault/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-renault.webp' },
  { brand: 'Chevrolet Niva', url: '/remont/niva/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-niva-chevrolet.webp' },
  { brand: 'Opel', url: '/remont/opel/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-opel.webp' },
  { brand: 'Chevrolet', url: '/remont/chevrolet/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-chevrolet.webp' },
  { brand: 'Cadillac', url: '/remont/cadillac/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-cadillac.webp' },
  { brand: 'Hummer', url: '/remont/hummer/', image: 'https://cdn.alexsab.ru/b/alpha-center/img/remont/logo-photo-hummer.webp' },
];
---
{
  type === 'images' ? (
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5 mt-8">
    {brands.map((brand) => <BrandLinkImage {...brand} />)}
  </div>
  ) : (
    <span>
      {brands.map((brand, index, array) => (
        <>
          <BrandLink {...brand} />
          {index !== array.length - 1 && ", "}
        </>
      ))}
    </span>
  )
}

