JSON_REPO=https://github.com/alexsab-ru/astro-json

DOMAIN=

DOMAIN_PRESETS=

CDN_SSH_HOST=
CDN_SSH_USER=
CDN_SSH_KEY_PATH=
CDN_REMOTE_PATH=
CDN_BASE_URL=https://cdn.alexsab.ru

# возможные, но не обязательные ключи. Настраиваются через env.json в astro-json

# AIR_STORAGE_CSV_URL="ссылка на таблицу с воздушным складом, увеличение количетсва авто путём их умножения и замены VIN на ID"

# AVITO_XML_URL="ссылка на фид с новыми автомобилями в формате avito"
# AVITO_FRIEND_XML_URL="ссылка на фид с новыми автомобилями в формате avito дружественного дилера"
# AVITO_XML_URL_DATA_CARS_CAR="ссылка на фид с новыми автомобилями в формате avito в формате data_cars_car"

# AUTORU_XML_URL="ссылка на фид с новыми автомобилями в формате autoru (всегда в формате data_cars_car)"
# AUTORU_FRIEND_XML_URL="ссылка на фид с новыми автомобилями в формате autoru дружественного дилера"

# AVITO_DEALER_STORAGE_CSV_URL="ссылка на таблицу с данными дилера, несуществующий склад для avito"
# AVITO_DEALER_STORAGE_CSV_COLUMN="столбецы из таблицы с данными дилера, несуществующий склад для avito"

# DEALER_CARS_PRICE_CSV_URL="ссылка на таблицу с ценами на конкретные автомобили из фида, замена цен и выгод в фиде"
# DEALER_CARS_PRICE_OVERRIDE="true - если нужно переопределить цены на конкретные автомобили из фида, замена цен и выгод в фиде"

# DEALER_CARS_UPDATE_ONLY_AVAILABILITY="обновлять только автомобили со статусом в наличии в фиде"
# DEALER_CARS_SHOW_ONLY_AVAILABILITY="показывать только автомобили со статусом в наличии в фиде"

# DEALER_PHOTOS_FOR_CARS_AVITO_URL="ссылка на таблицу с фотографиями и описаниями, для замены фотографий и описаний в фиде"

# DEALER_PRICE_CSV_URL="ссылка на таблицу с ценами дилера"
# DEALER_PRICE_CSV_COLUMN="столбецы из таблицы с ценами дилера"
# DEALER_PRICE_KEY_MAPPING="маппинг ключей из CSV в ключи модели"

# DEALER_SERVICE_PRICE_CSV_URL="ссылка на таблицу с ценами услуг дилера"
# DEALER_SERVICE_PRICE_KEY_MAPPING="маппинг ключей из CSV в ключи услуг"
# DEALER_SERVICE_PRICE_QUERY_STRING="строка запроса для поиска услуг в таблице дилера"

# DEALER_STORAGE_CSV_URL="ссылка на таблицу с данными дилера, несуществующий склад"
# DEALER_STORAGE_CSV_COLUMN="столбецы из таблицы с данными дилера, несуществующий склад"

# DISABLE_FEED_BENEFIT="отключить поиск выгод в фиде"
# DISABLE_FEED_PRICE="отключить поиск цен в фиде"

# DISABLE_GSHEET_BENEFIT="отключить поиск выгод в таблице дилера"
# DISABLE_GSHEET_PRICE="отключить поиск цен в таблице дилера"

# PUBLIC_GOOGLE_SITE_VERIFICATION="код верификации Google Site Verification"
# PUBLIC_YANDEX_SITE_VERIFICATION="код верификации Yandex Site Verification"

# PUBLIC_MAXPOSTER_TOKEN="токен для MaxPoster"
# PUBLIC_MAXPOSTER_URL="URL для MaxPoster"
# PUBLIC_SEND_EMAIL_URL="URL для отправки email"

# SORT_STORAGE_CSV_URL="ссылка на таблицу с сортировкой VIN, в два столбца vin, order"

# USED_CARS_DATA_CARS_CAR="ссылка на фид с б/у автомобилями в формате data_cars_car"
# USED_CARS_CATALOG_VEHICLES_VEHICLE="ссылка на фид с б/у автомобилями в формате catalog_vehicles_vehicle"
# USED_CARS_VEHICLES_VEHICLE="ссылка на фид с б/у автомобилями в формате vehicles_vehicle"
# USED_CARS_ADS_AD="ссылка на фид с б/у автомобилями в формате ads_ad"
# USED_CARS_CARCOPY_OFFERS_OFFER="ссылка на фид с б/у автомобилями в формате carcopy_offers_offer"

# USED_CARS_STORAGE_CSV_URL="ссылка на таблицу с данными б/у авто, несуществующий склад"
# USED_CARS_STORAGE_CSV_COLUMN="столбецы из таблицы с данными б/у авто, несуществующий склад"

# XML_URL_DATA_CARS_CAR="ссылка на фид с новыми автомобилями в формате data_cars_car"
# XML_URL_CATALOG_VEHICLES_VEHICLE="ссылка на фид с новыми автомобилями в формате catalog_vehicles_vehicle"
# XML_URL_VEHICLES_VEHICLE="ссылка на фид с новыми автомобилями в формате vehicles_vehicle"
# XML_URL_ADS_AD="ссылка на фид с новыми автомобилями в формате ads_ad"
# XML_URL_CARCOPY_OFFERS_OFFER="ссылка на фид с новыми автомобилями в формате carcopy_offers_offer"

# CARS_DATA_CARS_CAR_TITLE_TEMPLATE="шаблон для заголовка страницы авто в наличии"
# CARS_DATA_CARS_CAR_DESCRIPTION_TEMPLATE="шаблон для описания страницы авто в наличии"
# CARS_DATA_CARS_CAR_H1_TEMPLATE="шаблон для заголовка страницы авто в наличии"
# CARS_DATA_CARS_CAR_BREADCRUMB_TEMPLATE="шаблон для хлебных крошек авто в наличии"

# при этом там для блока `CARS_*` есть дополнительные переменные, которые можно использовать для замены в шаблоне и выбирать эти ключи через вот такой вот плейсхолдер `CARS_[SOURCE_TYPE]_[PARAM_NAME]`, 

# где SOURCE_TYPE — это тип источника данных:
# ADS_AD
# CARCOPY_OFFERS_OFFER
# CATALOG_VEHICLES_VEHICLE
# DATA_CARS_CAR
# VEHICLES_VEHICLE

# а PARAM_NAME — это название параметра:

# MOVE_VIN_ID_UP="переместить VIN на ID вверх"
# NEW_ADDRESS="новый адрес вместо того что в фиде"
# NEW_PHONE="новый телефон вместо того что в фиде"
# REPLACEMENTS="замены в описании частей текста"
# ELEMENTS_TO_LOCALIZE="элементы для перевода с английского на русский"
# REMOVE_CARS_AFTER_DUPLICATE="удалить конкретные автомобили по VIN после дублирования"
# REMOVE_MARK_IDS="исключить бренды"
# REMOVE_FOLDER_IDS="исключить модели"
# H1_TEMPLATE="шаблон для заголовка страницы авто в наличии, с плейсхолдерами для замены"
# BREADCRUMB_TEMPLATE="шаблон для хлебных крошек авто в наличии, с плейсхолдерами для замены"
# TITLE_TEMPLATE="шаблон для заголовка страницы авто в наличии, с плейсхолдерами для замены"
# DESCRIPTION_TEMPLATE="шаблон для описания страницы авто в наличии, с плейсхолдерами для замены"
