---
interface Props {
	title?: string;
	id?: string;
	carImage?: string;
	style?: string;
	idx?: number;
}
const {title, id, carImage, style,  idx} = Astro.props;
import './color-links.css';
---

<button class={`color-link ${idx === 0 ? 'active' : ''}`} title={title} data-color={id} data-car-image={carImage} style={style}></button>

<script>
	import './color.links'
</script>