---
import { Icon } from 'astro-icon/components'
---
<div
	x-data="scrollTop"
	x-cloak
	class="fixed bottom-24 sm:bottom-24 right-4 sm:right-4 rounded flex items-center justify-center cursor-pointer bg-accent-500 w-10 h-10 transition-all duration-300 shadow-2xl opacity-50 hover:opacity-100 z-50 text-white"
	:class="scrolled ? 'translate-x-0' : 'translate-x-20'"
	x-on:click="onClick"
>
	<Icon name="mdi:chevron-up" class="text-3xl" />
</div>