@reference "../../scss/app.css";

.slider-navigation-prev,
.slider-navigation-next{
	@apply flex items-center justify-center size-10 shadow-sm rounded-full cursor-pointer text-2xl text-icon bg-white opacity-60 transition-opacity duration-300 hover:opacity-100;
	&.swiper-button-disabled{
		@apply cursor-not-allowed opacity-20 hover:opacity-20;
	}
}

.swiper-button-lock {
	display: none;
 }
