@reference "../../scss/app.css";

.slider-navigation-prev,
.slider-navigation-next{
	@apply flex items-center justify-center size-10 shadow-sm rounded-full cursor-pointer text-2xl text-icon bg-white opacity-60 transition-opacity duration-300 hover:opacity-100;
	&.swiper-button-disabled{
		@apply cursor-not-allowed opacity-20 hover:opacity-20;
	}
}

.slider-pagination{
	&.swiper-pagination-clickable{
		.swiper-pagination-bullet{
			background-color: var(--color-pagination-inactive) !important;
			opacity: 0.4 !important;
			&.swiper-pagination-bullet-active{
				background-color: var(--color-pagination-active) !important;
				opacity: 1 !important;
			}
		}
	}
}

.swiper-button-lock {
	display: none;
 }
