---
import ReviewItem from './Item.astro';
import SliderNavigation from '@/components/SliderNav/Navigation.astro'
import SliderPagination from '@/components/SliderNav/Pagination.astro'
import { type TReviewItem } from './types';
interface Props {
	items: TReviewItem[];
	title?: string;
	class?: string;
}
const { items = [], title, class: classNames = '' } = Astro.props;
const slides = items.length ? items.filter(item => item.show) : [];
---

{
	slides.length > 0 && (
		<section class={`reviews ${classNames}`} id="reviews">
			<div class="container">
				{title && ( <h2 class="text-xl sm:text-4xl font-normal mb-8 sm:mb-14">{title}</h2> )}
				<div class="relative">
					<SliderNavigation id="reviews" class="mb-4 sm:mb-6" />
					<div class="swiper reviews-slider">
						<div class="swiper-wrapper">
							{slides.map((item) => ( <ReviewItem item={item} /> ))}
						</div>
					</div>
					<SliderPagination id="reviews" class="mt-10 hidden sm:flex" />
				</div>
			</div>
		</section>
	)
}

<script>
	import Swiper from "swiper";
	import { Navigation, Pagination } from "swiper/modules";
	new Swiper('.reviews-slider', {
		modules: [Navigation, Pagination],
		loop: true,
		navigation: {
			nextEl: '.reviews-navigation-next',
			prevEl: '.reviews-navigation-prev',
		},
		pagination: {
			el: '.reviews-pagination',
			clickable: true,
		},
		breakpoints: {
			320: {
				slidesPerView: 1,
				spaceBetween: 20
			},
			640: {
				slidesPerView: 2,
				spaceBetween: 20
			},
			1024: {
				slidesPerView: 3,
				spaceBetween: 30
			},
		},
	})
</script>
