<h2>Наши услуги:</h2>
<ul>
  <li>Комплексная диагностика двигателя и электроники</li>
  <li>Ремонт двигателя: замена ремня ГРМ, поршневой группы, свечей зажигания</li>
  <li>Обслуживание коробки передач: замена масла, диагностика, ремонт АКПП и МКПП</li>
  <li>Ремонт подвески: замена амортизаторов, пружин, сайлентблоков</li>
  <li>Обслуживание рулевого управления: диагностика, замена рулевых тяг, наконечников</li>
  <li>Замена технических жидкостей: масла, антифриза, тормозной жидкости, гидроусилителя</li>
  <li>Обслуживание тормозной системы: замена колодок, дисков, тормозных шлангов</li>
  <li>Ремонт и заправка кондиционеров</li>
  <li>Кузовной ремонт и покраска: устранение вмятин, царапин, коррозии</li>
  <li>Электрооборудование: диагностика и ремонт генератора, стартера, АКБ</li>
</ul>
