---
import { Icon } from 'astro-icon/components';

type TItem = {
	icon: string;
	text: string;
}

interface Props {
	items?: TItem[];
}

const { items = [] } = Astro.props;
---

{!!items.length && (
	<div class="xs:flex-col flex justify-center gap-4 flex-wrap">
		{items.map((item) => (
			<div class="flex-1 flex flex-col items-center justify-start gap-4 px-4">
				<Icon name={item.icon} class="text-accent-500 text-5xl sm:text-7xl" />
				<p class="font-medium text-center text-xs sm:text-sm md:text-base">
					<Fragment set:html={item.text} />
				</p>
			</div>
		))}
	</div>
)}
