---
interface Props {
	value?: string;
}

const { value = '' } = Astro.props;
---

{value && (
	<div x-data="{showMore: false}" x-cloak>
		<div
			class="space-y-4 overflow-hidden mb-5"
			:class="{'h-[90px]': !showMore}"
		>
			<Fragment set:html={value} />
		</div>
		<span
			class="underline cursor-pointer"
			@click="showMore = !showMore"
			x-text="showMore ? 'Свернуть' : 'Подробнее'"
		></span>
	</div>
)}
