<div class="cookie_notice fixed bottom-4 left-4 z-50 shadow-2xl rounded-md bg-white p-6 w-[540px] max-w-[calc(100%-2rem)] hidden">
    <div class="w-full flex flex-col sm:flex-row items-start justify-between space-y-4 sm:space-y-0 sm:space-x-6 font-light text-sm text-center sm:text-left">
        <div>Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с <a href="/cookie-policy/" class="text-accent-500 underline" target="_blank">использованием файлов cookie</a> и <a href="/privacy-policy/" class="text-accent-500 underline" target="_blank" rel="noopener">политикой конфиденциальности</a></div>
        <button class="w-full sm:w-auto rounded-sm cursor-pointer text-center bg-black hover:bg-gray-700 text-white py-3 px-6 focus:border-main outline-0 focus:shadow-input" id="cookie_close">Хорошо</button>
    </div>
</div>