.icon-link {
    &.social-link{
        @apply w-10 xs:w-12 sm:w-14 h-10 xs:h-12 sm:h-14;
    }
}
.social-link {
	@apply rounded-full border-2 transition-colors duration-500 flex items-center justify-center;
	svg {
		@apply w-8 h-auto transition-colors duration-500;
	}
	&.vkontakte {
		@apply border-vk hover:bg-vk;
		svg {
			@apply text-vk;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
	&.ok {
		@apply border-ok hover:bg-ok;
		svg {
			@apply text-ok;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
	&.facebook {
		@apply border-fb hover:bg-fb;
		svg {
			@apply text-fb;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
	&.instagram {
		border: none;
		background: linear-gradient(
			45deg,
			#ffd521 0%,
			#f50000 37%,
			#b900b4 65%,
			#00b9ff 100%
		);
		color: #b900b4;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			background-color: #fff;
			z-index: -1;
			border-radius: inherit;
			opacity: 1;
			transition: all 0.5s;
		}
		svg {
			text: url(#SVGID_1_);
			transition: all 0.5s;
		}
		&:hover {
			&::before {
				opacity: 0;
			}
			svg {
				@apply text-white;
			}
		}
	}
	&.youtube {
		@apply border-youtube hover:bg-youtube;
		svg {
			@apply text-youtube;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
	&.tiktok {
		@apply border-tiktok hover:bg-tiktok;
		svg {
			@apply text-tiktok;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
	&.telegram {
		@apply border-telegram hover:bg-telegram;
		svg {
			@apply text-telegram;
		}
		&:hover {
			svg {
				@apply text-white;
			}
		}
	}
}

.messanger-link {
	svg {
		@apply w-8 sm:w-10 h-auto transition-transform duration-300 ease-in-out;
	}
	&:hover {
		svg {
			@apply scale-110;
		}
	}
	&.instagram {
		border: none;
		color: #b900b4;
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			background-color: #fff;
			z-index: -1;
			border-radius: inherit;
			opacity: 1;
			transition: all 0.5s;
		}
		svg, svg path, svg circle {
			fill: url(#SVGID_1_);
			transition: all 0.5s;
		}
		&:hover {
			&::before {
				opacity: 0;
			}
			svg {
				@apply text-white;
			}
		}
	}
}
