---
interface Props {
  classes?: string,
}

const {
    classes = '',
    ...rest
} = Astro.props
---

<div class={`dropzone file-upload p-0 sm:p-5 bg-white border-2 border-black border-dashed focus:border-accent-500 h-auto cursor-pointer text-black ${classes}`} tabindex="-1" {...rest}></div>