---
import { isRouteDisabled, SITE_NOT_FOUND_PATH } from '@/js/utils/siteRoutes';
if (isRouteDisabled('/calc-to/')) {
	return Astro.rewrite(SITE_NOT_FOUND_PATH);
}
import settings from '@/data/site/settings.json';
const { site_name } = settings;
import Layout from '@/layouts/Layout.astro';
import Banner from '@/blocks/banner/Banner.astro';
import Contacts from '@/blocks/contacts/Contacts.astro';
import CalcTO from '@/blocks/calc-to/CalcTO.astro';
import FeedbackForm from '@/blocks/forms/feedback-form/FeedbackForm.astro';
---

<Layout title=`Рассчитать стоимость ТО у официального дилера ${site_name}` description=``>
	<Banner />
	<CalcTO />
	<section>
		<div class="container">
			<FeedbackForm title="Оставить заявку" dataFormName=`Сервис Kia. Рассчитать стоимость ТО у официального дилера ${site_name}` subtitle="Мы сформируем для Вас персональное предложение" />
		</div>
	</section>
	<Contacts />
</Layout>
