---
import {SITE_NAME, BRAND, LEGAL_CITY_WHERE, TIMER_ENDTIME} from '@/const.js';
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner/Banner.astro';
import Timer from '@/components/Timer/Timer.astro';
import ModelList from '@/components/Model/ModelList.astro';
import Model from '@/components/Model/Model.astro';
import Callback from '@/components/Callback.astro';
import Services from '@/components/Services.astro';
import Contacts from '@/components/Contacts.astro';
import models from '@/data/models.json'
import salons from '@/data/salons.json'
const salonsPhone = salons.map((salon: any) => { return salons[0].phone }).join(', ');
---

<Layout title="Купить автомобили JETOUR от 2 089 900 р. в Самаре. Цены и комплектации на новые авто в автосалоне официального дилера Альфа" description="Автомобили Джетур купить в Самаре. Кредит от 0,01%, авторассрочка, скидки на все автомобили от розничной цены. Гарантия 3 года или 100 000 км. Звонить по тел.: ☎️ 8 (846) 2 125-591" keywords="купить jetour в Самаре, цены на jetour в Самаре, jetour в кредит в Самаре, jetour в рассрочку в Самаре, тест драйв jetour в Самаре, цены и комплектации jetour в Самаре, официальный дилер jetour в Самаре" image="/img/specials/vesennee-obnovlenie-s-jetour/vesennee-obnovlenie-s-jetour-1920x1080.webp">
	<Banner />
	<section class="ptop-[2.7] pbottom-[2.5] bg-accent-500">
		<div class="container">
			<h1 class="text-center fz-[3] lg:fz-[2.4] xl:fz-[2.2] text-white font-medium leading-none">Автомобили {BRAND} в&nbsp;{LEGAL_CITY_WHERE}</h1>
		</div>
	</section>
	{TIMER_ENDTIME && <Timer endtime={TIMER_ENDTIME} title="До конца акции осталось" subtitle="Подзаголовок" />}
	<ModelList title="Модельный ряд JETOUR" />
	{models && models.map((model: any) => model.show && <Model model={model}/>)}
	<Callback bgUrl="/img/konkurenty.webp" />
	<Services />
	<Contacts
		mapImg="/img/map-bg.webp"
		title="Наши контакты"
	/>
</Layout>
