---
import Layout from '@/layouts/Layout.astro';
---

<Layout title={`JETOUR Connect`} description="JETOUR Connect — система управления и защиты автомобиля. С преимуществами и возможностями сервиса можно ознакомиться на сайте официального дилера Самары. Сделайте каждую поездку комфортной и уверенной!">
	
	<div class="bg-[#121416] md:relative md:h-[400px] md:bg-[url('/img/banners/jetour-connect/desktop-banner.webp')] md:bg-no-repeat md:bg-center md:bg-cover lg:h-[500px] xl:h-[700px]">
		<div class="container">
			<img class="object-cover w-full md:hidden" src="/img/banners/jetour-connect/mobile-banner.webp" alt="JETOUR Connect — система управления и защиты автомобиля" />
			<div class="pb-12 text-white md:absolute md:bottom-0 xl:pb-20">
				<h1 class="text-4xl font-bold mb-8 xl:text-5xl">Будь на связи со<br>своим автомобилем</h1>
				<p class="mb-8 md:w-1/2 xl:w-full">JETOUR Connect<sup>1</sup> — система управления и защиты автомобиля</p>
				<div class="flex flex-col sm:flex-row gap-4">
					<a href="https://apps.apple.com/us/app/jetour-connect/id6478954137">
						<img src="/img/jetour-connect/button-app-store.webp" alt="Приложение Jetour Connect для iOS">
					</a>
					<a href="https://play.google.com/store/apps/details?id=ru.jetour.smartdriving">
						<img src="/img/jetour-connect/button-google-play.webp" alt="Приложение Jetour Connect для Android">
					</a>
				</div>
			</div>
		</div>
	</div>

	<section>
		<div class="container">
			<h2 class="text-center mb-12">Технологии на службе контроля</h2>
			<p class="text-center mb-12 md:mb-40">Jetour Connect<sup>1</sup> – ваш надежный помощник в управлении автомобилем. Сделайте каждую поездку комфортной и уверенной!</p>

			<div class="flex flex-col md:flex-row-reverse md:gap-5">
				<div class="md:w-1/2">
					<p class="text-center mb-12 md:hidden"><img class="inline" src="/img/jetour-connect/technology-mobile.webp" alt="Jetour Connect"></p>
					<p class="text-center mb-12 md:hidden"><img class="inline" src="/img/jetour-connect/settings-mobile.webp" alt="Jetour Connect"></p>
					<img class="hidden md:inline" src="/img/jetour-connect/technology-desktop.webp" alt="Jetour Connect">
				</div>
	
				<div class="md:w-1/2">
					<h3 class="text-2xl font-bold mb-4">Безопасность и контроль над вашим автомобилем</h3>
					<p class="mb-4">Открыть двери авто за 10 000 км или найти свой автомобиль на паркинге? Нужно просто запустить приложение на смартфоне Jetour Connect<sup>1</sup> незамедлительно предоставляет информацию о состояния автомобиля своему владельцу:</p>
					<ul class="list-disc list-outside ml-5">
						<li>Активность охранной системы</li>
						<li>Сигнал Check Engine<sup>2</sup></li>
						<li>Количество топлива в баке</li>
						<li>Уровень заряда АКБ</li>
						<li>Количество пройденных километров</li>
					</ul>
		
					<h3 class="text-2xl font-bold mb-4 mt-12">Технологии на службе комфорта</h3>
					<p class="mb-4">Jetour Connect<sup>1</sup> подготовит автомобиль для комфортной поездки. Удаленный запуск двигателя, управление системой подогрева* на любом расстоянии сделают поездку комфортной с первых минут. Система доступна для всех моделей Jetour.</p>
					<p class="mb-4"><small>1 - Подключённый (на связи) </small></p>
					<p class="mb-4"><small>2 - Проверка двигателя</small></p>
					<p><small>*Зависит от комплектации автомобиля JETOUR</small></p>
					<hr class="my-12">
					<p>
						СЕРВИС-ПРОВАЙДЕР<br>
						Российский телематический оператор<br>
						ООО “Лаборатория умного вождения”
					</p>
				</div>
			</div>
		</div>
	</section>
</Layout>