---
import Layout from '@/layouts/Layout.astro';
---

<Layout title={`JETOUR Connect`} description="JETOUR Connect — система управления и защиты автомобиля. С преимуществами и возможностями сервиса можно ознакомиться на сайте официального дилера Самары. Сделайте каждую поездку комфортной и уверенной!">
	<div class="container">
		<section class="content">
			<h1 class="text-3xl sm:text-4xl font-bold">JETOUR Connect</h1>
		</section>
	</div>
</Layout>