.btn {
	@apply 
		inline-flex items-center justify-center
		px-8 sm:px-14 py-3 
		rounded-btn 
		border border-button-bg hover:border-button-bg-hover
		bg-button-bg hover:bg-button-bg-hover
		text-button-text hover:text-button-text-hover
		text-center font-medium 
		transition-colors duration-300; 
	&.btn-o {
		@apply bg-transparent text-button-bg hover:bg-button-bg hover:text-button-text;
	}
	&.gray {
		@apply bg-gray-500 border-gray-500 hover:bg-gray-400 hover:border-gray-400;
		&.btn-o {
			@apply bg-transparent text-gray-900 hover:bg-gray-500 hover:border-gray-500 hover:text-white;
		}
	}
	&.black {
		@apply bg-black border-black hover:bg-gray-800 hover:border-gray-800;
		&.btn-o {
			@apply bg-transparent text-black hover:bg-black hover:text-white;
		}
	}
	&.white {
		@apply bg-white text-black border-white hover:bg-gray-100 hover:border-gray-100;
		&.btn-o {
			@apply bg-transparent text-white hover:bg-white hover:text-black;
		}
	}
	&.danger {
		@apply bg-red-500 text-white border-red-500 hover:bg-red-600 hover:border-red-600;
		&.btn-o {
			@apply bg-transparent text-red-500 hover:bg-red-500 hover:text-white;
		}
	}
	&[disabled]{
		@apply bg-gray-300 border-gray-300 cursor-not-allowed hover:bg-gray-300 hover:border-gray-300;
	}
}
