@import "swiper/css/bundle";

.swiper-pagination-bullet{
    position: relative;
    border: 2px solid transparent;
}

.swiper-pagination-bullet::before{
	content: '';
	width: 11px;
	height: 11px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-pagination-bg);
	border-radius: 50%;
}

.swiper-pagination-bullet-active{
    background: transparent;
    border-color: var(--color-accent-500);
}

.swiper-pagination-bullet-active::before{
    background-color: var(--color-accent-500);
}

.slider-pagination.swiper-pagination-clickable .swiper-pagination-bullet::before {
    background: var(--color-accent-500);
    opacity: 0.5;
}

.slider-pagination.swiper-pagination-clickable .swiper-pagination-bullet-active::before {
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
	@apply bg-gray-200! text-icon! h-32! w-12! top-1/2 -translate-y-1/2 m-0 opacity-30! transition-opacity duration-500 ease-out hover:opacity-60;
}

.swiper-button-next svg, 
.swiper-button-prev svg{
	@apply w-1/4! h-auto!;
}

.simple-slider-button-prev,
.simple-slider-button-next{
	@apply bg-gray-200 opacity-70 h-12! rounded-full top-24! sm:top-[20%]! lg:top-[25%]!;
}
.swiper-button-next {
	right: 0 !important;
}
.swiper-button-next.simple-slider-button-next{
		right: 10px !important;
	}

.swiper-button-prev {
	left: 0 !important;	
}

.swiper-button-prev .simple-slider-button-prev{
	left: 10px !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none !important;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-pagination-bg);
	@apply text-xs sm:text-base w-10 h-10 sm:w-12 sm:h-12;
}

.autoplay-progress svg {
	--progress: 1;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	stroke: var(--color-pagination-bg);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}