---
interface Props {
	links: any;
}
const { links } = Astro.props;

import HeaderMenuList from './MenuList.astro';

const path = Astro.url.pathname;
const classBottom = path != '/' ? ' border-b' : '';
---
<div id="site_nav" class={`backdrop-blur-md hidden lg:block border-t border-t-white/30 ${classBottom}`}>
	<div class="container">
		<div class="h-full">
			<HeaderMenuList links={links} />
		</div>
	</div>
</div>