@reference "../../scss/app.css";

.scroll-link, .header-link, .header-child-link{
	@apply block lg:inline-block py-3 px-5 transition duration-150 whitespace-nowrap;
}
.header-child-link{
	@apply lg:!block pl-8 lg:pl-5;
}
.cols-0 {
	@apply columns-auto;
}
.cols-1 {
	@apply columns-1;
}
.cols-2 {
	@apply md:columns-2;
}
.cols-3 {
	@apply lg:columns-3;
}
.cols-4 {
	@apply lg:columns-3 xl:columns-4;
}
.cols-5 {
	@apply lg:columns-3 xl:columns-4 2xl:columns-5;
}

.clone-menu {
	@apply relative flex items-center;

	li, a {
		@apply w-full block;
	}
}
/* .header-transparent{
	z-index:;
} */
/* Dropdown "more" menu styles when header is in transparent mode */
.header-transparent .more-menu {
	@apply backdrop-blur-header bg-header-transparent-bg border-header-border-transparent;
}

.header-transparent .menu-more-btn{
	@apply text-header-transparent-text;
}

.submenu-transparent::after,
.header-transparent::after{
	@apply backdrop-blur-header;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
