---
interface Props {
	mapImg?: string;
	title?: string;
}

const {mapImg, title} = Astro.props;
import salons from '@/data/salons.json'

import Map from './Map/Map.astro';

import MapInfo from './Map/MapInfo.astro';
---

<section
	class={`section bg-gray-50 ${title ? 'pt-8 sm:pt-16 !pb-0' : 'p-0'}`}
	id="contacts">
	<div class="container relative">
		{
			title && (
				<h2 class="text-xl sm:text-4xl font-medium mb-14 before:hidden text-left mx-0">
					{title}
				</h2>
			)
		}
			<MapInfo salons={salons} />
	</div>

	<Map mapImg={mapImg} salons={salons} class="h-[400px] lg:h-[540px]"></Map>


</section>
