---
import {FOOTER_INFO} from '@/const'
---

<footer class="bg-black text-white py-8" x-data="footer">
	<div class="container">
		<div class="flex justify-center">
			<a
				href="#"
				class="disclamer_switch switch text-white underline transition hover:no-underline"
                @click.prevent="onClick"
				>Подробные условия акций</a
			>
		</div>
		<div 
            class="disclaimer text-xs" 
            x-show="showDisclaimer"
        >
			<noindex>
				<p class="my-10">
                    <Fragment set:html={FOOTER_INFO} />   
				</p>
			</noindex>
		</div>
	</div>
</footer>
