---
import Button from '@/components/Button/Button.astro';
import Input from '@/components/Input.astro';
import Checkbox from '@/components/Checkbox/Checkbox.astro';
import ChoosingDealerSelect from '@/components/ChoosingDealerSelect/ChoosingDealerSelect.astro';
import CloseModalBtn from '@/components/CloseModalBtn.astro';
import salonsData from '@/data/salons.json';
import type { ISalon } from '@/types/ISalon';
const salons = salonsData.filter((salon: ISalon) => !salon?.type || salon?.type.includes('common_modal'));
import {AGREE_LABEL} from '@/const'
---

<!-- MODALS -->
<div
	class="fixed w-screen h-screen left-0 top-0 bg-black/70 overflow-x-hidden overflow-y-auto hidden modal-overlay z-[3000000000]"
	id="common-modal"
	data-close>
	<div
		class="modal-content relative top-10 sm:top-20 mb-10 left-1/2 translate-x-[-50%] max-w-xl w-full bg-white py-8 px-4 sm:p-8">

		<CloseModalBtn />

		<p class="caption text-center text-3xl mb-2 text-gray-800">Обратная связь</p>
		<p class="text-center mb-10 font-normal text-gray-600">
			Оставьте свои данные и мы свяжемся с Вами в ближайшее время!
		</p>
		<form class="flex flex-col gap-4" id="rating-form">
			<input type="hidden" name="form" value="" />
			<input
				type="email"
				tabindex="-1"
				name="email"
				class="h-0 opacity-0 absolute -z-[100]"
				placeholder="mail@example.com"
			/>
			<Input name="name" classes="border-gray-100" placeholder="Ваше имя" />
			<Input
				type="tel"
				name="phone"
				classes="border-gray-100"
				placeholder="+7 (999) 999-99-99*"
				required
				errorClasses="text-red-500"
			/>

			<ChoosingDealerSelect required={true} salons={salons}/>

			<Checkbox
				name="agree"
				label={AGREE_LABEL}
				color="black"
				required
				errorClasses="text-red-500 w-full"
				errorText="Чтобы продолжить, установите флажок"
			/>

			<input
				type="checkbox"
				name="subscribe"
				class="absolute w-0 h-0 opacity-0 invisible"
			/>

			<Button view="form-button" classes="w-full" title="Отправить" />
		</form>
	</div>
</div>

<div
	class="fixed w-screen h-screen left-0 top-0 bg-black/70 z-[3000000000] overflow-x-hidden overflow-y-auto hidden modal-overlay"
	id="message-modal"
	data-close>
	<div
		class="modal-content relative top-10 sm:top-20 mb-10 left-1/2 translate-x-[-50%] max-w-xl w-full bg-white text-gray-800 py-8 px-4 sm:p-8">

		<CloseModalBtn color="accent-500" />

		<div class="w-20 h-20 mx-auto mb-10" id="icon"></div>
		<p class="text-center text-lg mb-10"></p>
	</div>
</div>

<div
	class="fixed w-screen h-screen left-0 top-0 bg-black/50 z-[3000000000] overflow-x-hidden overflow-y-auto hidden modal-overlay"
	id="confirm-modal"
	data-close>
	<div
		class="modal-content relative top-10 sm:top-20 mb-10 left-1/2 translate-x-[-50%] max-w-2xl w-full bg-white text-gray-800 py-8 px-4 sm:p-8">

		<CloseModalBtn color="accent-500" />

		<p class="text-center text-lg mb-10 message"></p>
		<div class="flex justify-center flex-wrap gap-5">
			<button id="accept-confirm" class="btn gray">Повторить заявку</button>
			<button id="accept-close" data-close class="btn">Хорошо, я подожду</button>
		</div>
	</div>
</div>

<!-- END MODALS -->