span[class^='fake-checkbox'],
span[class^='fake-radio'] {
	@apply w-5 h-5 inline-block flex-shrink-0 border relative before:content-[''] before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-3.5 before:h-3.5 before:transition-opacity before:opacity-0;
}
span[class^='fake-radio'] {
	@apply rounded-full before:rounded-full;
}
.fake-checkbox-white,
.fake-radio-white {
	@apply border-white before:bg-white;
}
.fake-checkbox-black,
.fake-radio-black {
	@apply border-black before:bg-black;
}
input[type='checkbox']:checked ~ div > span[class^='fake-checkbox'],
input[type='radio']:checked ~ div > span[class^='fake-radio'] {
	@apply before:opacity-100;
}

.label input[type='checkbox']:checked ~ div > span[class^='fake-checkbox'],
.label input[type='radio']:checked ~ div > span[class^='fake-radio'] {
	@apply border-white before:bg-white;
}

input[type='checkbox']:disabled ~ div,
input[type='radio']:disabled ~ div {
	@apply opacity-40;
}
