---
import type { ISalon } from '@/types/ISalon';
interface Props {
	required?: boolean;
	errorMessage?: string;
	salons: ISalon[];
}
const { required, errorMessage = 'Выберите дилерский центр', salons } = Astro.props;
import FormSelect from '@/components/FormSelect.astro';
const options = salons.map((salon, idx) => ({ id: idx, name: salon.name }));
---
{options.length > 1 && (
	<div class="w-full">
		<FormSelect name="dealer" placeholder="Выберите дилерский центр" options={options} required={required} errorMessage={errorMessage} />
	</div>
)}