---
import seo from '@/data/seo.json';
interface Props {
	classes?: string;
	title?: string;
}

const { title = '', classes = '' } = Astro.props;
const currentPath = Astro.url.pathname;
const seoTitle = seo[currentPath] ? seo[currentPath].h1 : title;
---

{seoTitle.length ? (<h1 class={classes}>{seoTitle}</h1>) : null}
