[x-cloak] {
	display: none !important;
}

body {
	@apply selection:bg-accent-500 selection:text-white;
}

section:not(.model-section) {
	@apply relative py-8 sm:py-16 bg-cover bg-center;
	h2 {
		@apply relative pb-3 text-3xl sm:text-5xl w-fit mx-auto font-extrabold before:content-[''] before:absolute before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:h-1 before:w-32 before:bg-accent-500;
	}
}

.dz-remove {
	@apply text-red-500;
}

.content {
	h1 {
		@apply text-2xl sm:text-4xl font-extrabold mb-7;
	}
	p, b, ul, ol, a {
		@apply text-sm sm:text-lg mb-4;
	}
	a:not(.filter-model-link, .k-select-head, .k-select-dropdown a) {
		@apply text-accent-500 underline hover:no-underline;
	}
	li {
		@apply mb-1;
	}
	img {
		@apply block max-w-full mx-auto;
	}
	blockquote {
		@apply text-xs;
		p {
			@apply text-xs text-gray-500;
		}
		a {
			@apply text-xs;
		}
	}
	table {
		@apply border-collapse w-full bg-white text-center text-xs sm:text-sm md:text-base;
		thead {
			@apply bg-slate-50;
			th {
				@apply border border-slate-300 font-semibold p-4;
			}
		}
		tbody {
			td {
				@apply border border-slate-300 p-4;
			}
		}
	}
}
.modal-img{
	@apply h-[calc(calc(1vw+1vh)*40)] sm:absolute inset-0 w-full sm:h-full object-cover object-center;
}

.custom-scrollbar{
	&::-webkit-scrollbar {
		@apply w-1 appearance-none rounded-lg;
	}
	&::-webkit-scrollbar-track {
		@apply bg-gray-100 rounded-lg;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-accent-500/60 rounded-lg;
	}
}