.menu-more-btn { 	background: none; border: none; cursor: pointer; padding-inline: 13px; align-items: center; height: 100%; }
.more-menu { display: none; position: absolute; background: white; list-style: none; padding: 0; top: 100%; right: 0; @apply shadow-2xl; }
.more-menu a { color: #000; }
.more-menu li > ul{ top: 0; right: 100%; }
.more-menu.visible { display: block; }