// @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mobile-title-size {
		font-size: calc((1vw + 1vh) * 2.2);
	}
	
	// SEO content
	.seo-content {
		@apply overflow-hidden h-[230px] relative;
	}

	.seo-content::before {
		content: '';
		@apply absolute bottom-0 left-0 w-full z-10;
		height: 100px;
		background: linear-gradient(
			to top,
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0)
		);
		transition: opacity 0.25s;
	}
	.seo-content.open {
		@apply h-auto;
	}

	.seo-content.open::before {
		opacity: 0;
	}

	.seo-content h2 {
		@apply text-3xl font-bold mx-0 mb-3 text-left before:hidden #{!important};
	}

	.seo-content h2:not(:first-child) {
		@apply mt-10;
	}

	.seo-content h3 {
		@apply text-2xl font-bold mb-3;
	}

	.seo-content strong {
		@apply font-bold;
	}

	.seo-content p{
		@apply mb-3;
	}

	.seo-content ul {
		@apply list-disc pl-5 mb-5;
	}

	.seo-content li:not(:last-child) {
		@apply mb-3;
	}

	.seo-show-more {
		@apply text-sm opacity-50 transition-opacity hover:opacity-90 leading-none py-3 relative;
	}

	.seo-show-more-arrow {
		@apply inline-block rotate-90 transition-transform absolute bottom-0 left-1/2 transform -translate-x-1/2 origin-center;
	}

	.seo-show-more.active .seo-show-more-arrow {
		@apply -rotate-90 bottom-auto top-0;
	}

	.seo-show-more:hover .seo-show-more-arrow {
		@apply translate-y-1;
	}

	.seo-show-more.active:hover .seo-show-more-arrow {
		@apply -translate-y-1;
	}

	// Buttons
	.btn {
		@apply cursor-pointer px-8 sm:px-14 rounded-btn border border-accent-500 py-3 bg-accent-500 text-white text-center font-medium transition-colors duration-300 hover:bg-accent-400 hover:border-accent-400 inline-block;
		&.btn-o {
			@apply bg-transparent text-accent-500 hover:bg-accent-400 hover:text-white;
		}
		&.gray {
			@apply bg-gray-500 border-gray-500 hover:bg-gray-400 hover:border-gray-400;
			&.btn-o {
				@apply bg-transparent text-gray-900 hover:bg-gray-500 hover:border-gray-500 hover:text-white;
			}
		}
		&.black {
			@apply bg-black border-black hover:bg-gray-800 hover:border-gray-800;
			&.btn-o {
				@apply bg-transparent text-black hover:bg-black hover:text-white;
			}
		}
		&.white {
			@apply bg-white text-black border-white hover:bg-gray-100 hover:border-gray-100;
			&.btn-o {
				@apply bg-transparent text-white hover:bg-white hover:text-black;
			}
		}
		&.danger {
			@apply bg-red-500 text-white border-red-500 hover:bg-red-600 hover:border-red-600;
			&.btn-o {
				@apply bg-transparent text-red-500 hover:bg-red-500 hover:text-white;
			}
		}
		&[disabled]{
			@apply bg-gray-300 border-gray-300 cursor-not-allowed hover:bg-gray-300 hover:border-gray-300;
		}
	}
}
