
---
import Checkbox from '@/components/Checkbox/Checkbox.astro';
const { id, type, answerOptions } = Astro.props;
---

<div class="fields">
  {
    answerOptions.map(answer => (
    <Checkbox 
      name={id} 
      type={type}
      label={answer} 
      value={answer} 
      color="black" 
      classes="relative block text-lg font-weight-bold mb-3 hover:opacity-80"
    />
    ))
  }
</div>
<div class="flex gap-5">
  <button type="button" class="btn slide-prev">Назад</button>
  <button type="button" class="btn slide-next" disabled="true">Далее</button>
</div>