---
interface Props {
  brand: string;
  url: string;
  image: string;
  type?: string;
}

const { brand, url, image } = Astro.props;
---

<a href={url} class="!no-underline">
  <div class="bg-gray-50 group rounded-2xl relative aspect-video overflow-hidden lazy">
    <img
      src="https://cdn.alexsab.ru/loaders/simple-loading.svg"
      data-src={image}
      class="absolute w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110"
      alt={`Ремонт ${brand}`}
      loading="lazy"
    />
  </div>
  <div class="text-black mt-2 sm:mt-4 leading-none">Ремонт {brand}</div>
</a> 