---
interface Props {
	title?: string;
	h1?: string;
	description?: string;
	image?: string;
	keywords?: string;
}
let {title, h1, description, image, keywords} = Astro.props;

import {SITE_NAME, SITE_DESCR} from '@/const.js';

import Head from '@/components/Head.astro';
import ScriptHead from '@/components/Scripts/Head.astro';
import ScriptBodyBegin from '@/components/Scripts/BodyBegin.astro';
import ScriptBodyEnd from '@/components/Scripts/BodyEnd.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/ExtendedFooter.astro';
import Modals from '@/components/Modals.astro';
import UpBtn from '@/components/UpBtn.astro';
import Cookie from '@/components/Cookie/Cookie.astro';
import seo from '@/data/seo.json';

const currentPath = Astro.url.pathname;
if (seo[currentPath]) {
	const pageSeo = seo[currentPath];

	if (pageSeo.title && pageSeo.title.trim()) {
		title = pageSeo.title;
	}

	if (pageSeo.description && pageSeo.description.trim()) {
		description = pageSeo.description;
	}

	if (pageSeo.h1 && pageSeo.h1.trim()) {
		h1 = pageSeo.h1;
	}
}
---

<!doctype html>
<html lang="ru">
	<head>
		<Head title={title || h1 || SITE_NAME} description={description ?? SITE_DESCR} image={image} keywords={keywords} />
		<ScriptHead />
	</head>
	<body class="min-h-screen flex flex-col" x-data="complectation">
		<ScriptBodyBegin />
		<Header />
		<main class="flex-grow relative">
			<slot />
		</main>
		<Footer />
		<Modals />
		<UpBtn />
		<Cookie />
		<ScriptBodyEnd />
	</body>
</html>
<style is:global lang="scss">
	@use '@/scss/app.scss';
</style>
