---
interface Props {
	title?: string;
	h1?: string;
	description?: string;
	image?: string;
	keywords?: string;
}
const {title, h1, description, image, keywords} = Astro.props;

import {SITE_NAME, SITE_DESCR} from '@/const.js';

import Head from '@/components/Head.astro';
import ScriptHead from '@/components/Scripts/Head.astro';
import ScriptBodyBegin from '@/components/Scripts/BodyBegin.astro';
import ScriptBodyEnd from '@/components/Scripts/BodyEnd.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/ExtendedFooter.astro';
import Modals from '@/components/Modals.astro';
import UpBtn from '@/components/UpBtn.astro';
import Cookie from '@/components/Cookie/Cookie.astro';
---

<!doctype html>
<html lang="ru">
	<head>
		<Head title={title || h1 || SITE_NAME} description={description ?? SITE_DESCR} image={image} keywords={keywords} />
		<ScriptHead />
	</head>
	<body class="min-h-screen flex flex-col" x-data="complectation">
		<ScriptBodyBegin />
		<Header />
		<main class="flex-grow relative">
			<slot />
		</main>
		<Footer />
		<Modals />
		<UpBtn />
		<Cookie />
		<ScriptBodyEnd />
	</body>
</html>
<style is:global lang="scss">
	@import '@/scss/app.scss';
</style>
