---
interface Props {
	title?: string;
	h1?: string;
	description?: string;
	image?: string;
	breadcrumb?: string[];
}
const {title, h1, description, image, breadcrumb} = Astro.props;
import Layout from '@/layouts/Layout.astro';
import Breadcrumbs from '@/components/Breadcrumbs/Breadcrumbs.astro';
---

<Layout title={title || h1} description={description} image={image}>
	<section class="content">
		<div class="container">
			{breadcrumb && <Breadcrumbs breadcrumb={breadcrumb} />}
			{h1 && <h1><Fragment set:html={h1} /></h1> }
			<slot />
		</div>
	</section>
</Layout>
