---
const { frontmatter } = Astro.props;
import Layout from "@/layouts/Layout.astro";
---

<Layout title={frontmatter.title} >
	<section class="content">
		<div class="container">
			{ frontmatter.title && (
				<h1 class="text-2xl sm:text-4xl font-extrabold mb-7">{ frontmatter.title }</h1>
			)
			}
			<slot />	
		</div>
	</section>
</Layout>