---
interface Props {
	title?: string;
	descr?: string;
}
const {title, descr} = Astro.props;
import Layout from '@/layouts/Layout.astro';
---

<Layout title={title} descr={descr}>
	<section class="content">
		<div class="container">
			{title && <h1 class="text-2xl sm:text-4xl font-extrabold mb-7">{title}</h1>}
			<slot />
		</div>
	</section>
</Layout>
