---
import ModelItem from './CalcTOModelItem.astro';
import modelsData from '@/data/site/models.json'
import { getModelBrandDisplayName, getModelThumb, getModelTitle } from '@/js/utils/modelFields';
import { isModelVisible } from '@/js/utils/modelVisibility';
const { models } = modelsData;
const visibleModels = models.filter(isModelVisible);
---

{ visibleModels.length > 0 && (
	<section>
		<div class="section-grid">
			<h2 class="text-center text-xl sm:text-4xl font-medium mb-14 before:hidden mx-0">Расчет стоимости ТО</h2>
			<div class="full-bleed flex flex-wrap mb-10 lg:mb-20 last:mb-0 gap-3 sm:gap-5 px-2 sm:px-4 text-xs 2xl:text-base justify-center">
				{
					visibleModels.map(model => <ModelItem brand={getModelBrandDisplayName(model)} name={getModelTitle(model)} image={getModelThumb(model)} />)
				}
			</div>
		</div>
	</section>
)}
