---
interface Props {
	fetchURL?: string;
}
const {fetchURL = ''} = Astro.props;

import BannerSlide from './BannerSlide.astro';
const banners = await fetch(fetchURL).then((response) => response.json());
// import banners from '@/data/banners.json'
---

{
	banners && (
		<div class="banner relative h-[500px] md:min-h-[600px] md:h-[calc(100vh-80px)] lg:h-[calc(100vh-129px)]">
			<div class="absolute inset-0">
				<div class="swiper banner-slider h-full text-white">
					<div class="swiper-wrapper">
						{banners.map((banner: any) => (
							banner.show && <BannerSlide banner={banner} />
						))}
					</div>

					<div class="swiper-pagination banner-pagination" />

					<div class="autoplay-progress">
						<svg viewBox="0 0 48 48">
							<circle cx="24" cy="24" r="20" />
						</svg>
						<span />
					</div>

					<div class="swiper-button-prev banner-button-prev !hidden md:!flex" />
					<div class="swiper-button-next banner-button-next !hidden md:!flex" />
				</div>
			</div>
		</div>
	)
}

<script>
	import './banner'
	import './banner.scss';
</script>