@reference "../../scss/app.css";

.banner-title {
	@apply text-3xl md:text-4xl lg:text-5xl uppercase font-heading-weight mb-3 sm:mb-5;
}

.banner-description {
	@apply xs:text-sm text-base sm:text-xl md:text-3xl relative z-10;
}

.swiper-pagination-bullet {
	@apply w-4! h-4! opacity-100! bg-transparent! relative mx-1.5! transition-all duration-300 rounded-full border border-transparent p-0;
}

.swiper-pagination-bullet::before{
	content: '' !important;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	top: 2.5% !important;
	left: 3.5% !important;
	/* transform: translate(-50%, -50%) !important; */
	background-color: var(--color-pagination-bg) !important;
	border-radius: 50% !important;
	transform: scale(0.6) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply border-pagination-active;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before{
	@apply bg-pagination-active!;
}

.simple-slider-pagination .swiper-pagination-bullet{
	@apply border-pagination-border! mx-1 sm:mx-1.5;
}

.simple-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply border-pagination-active! before:border-pagination-active;
}

.swiper-button-next,
.swiper-button-prev {
	@apply bg-gray-200! text-icon! h-32! w-12! top-1/2 -translate-y-1/2 m-0 opacity-30! transition-opacity duration-500 ease-out hover:opacity-60;
}

.swiper-button-next svg, 
.swiper-button-prev svg{
	@apply w-1/4! h-auto!;
}

.simple-slider-button-prev,
.simple-slider-button-next{
	@apply bg-gray-200 opacity-70 h-12! rounded-full top-24! sm:top-[20%]! lg:top-[25%]!;
}
.swiper-button-next {
	right: 0 !important;
}
.swiper-button-next.simple-slider-button-next{
		right: 10px !important;
	}

.swiper-button-prev {
	left: 0 !important;	
}

.swiper-button-prev .simple-slider-button-prev{
	left: 10px !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none !important;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-pagination-contrast);
	@apply text-xs sm:text-base w-10 h-10 sm:w-12 sm:h-12;
}

.autoplay-progress svg {
	--progress: 1;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	stroke: var(--color-pagination-contrast);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}

.banner .swiper-slide.gradient::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(12,12,11,.8)),to(rgba(12,12,11,0)));
	background: linear-gradient(to bottom,rgba(12,12,11,.8) 0,rgba(12,12,11,0) 100%);
	z-index: 1;
}
