---
import type { TBanner } from './types';
interface Props {
	banners?: TBanner[]
}
import BannerSlide from './BannerSlide.astro';
import bannersData from '@/data/banners.json'
const { banners = bannersData } = Astro.props;
---

{
	banners && (
		<div class="banner relative pb-[135%] md:pb-[100%] lg:pb-[56.25%] 2xl:pb-[40%]">
			<div class="absolute inset-0">
				<div class="swiper banner-slider h-full text-white">
					<div class="swiper-wrapper">
						{banners.map((banner: any) => (
							banner.show && <BannerSlide banner={banner} />
						))}
					</div>

					<div class="swiper-pagination banner-pagination" />

					<div class="autoplay-progress">
						<svg viewBox="0 0 48 48">
							<circle cx="24" cy="24" r="20" />
						</svg>
						<span />
					</div>

					<div class="swiper-button-prev banner-button-prev !hidden md:!flex" />
					<div class="swiper-button-next banner-button-next !hidden md:!flex" />
				</div>
			</div>
		</div>
	)
}

<script>
	import './banner'
	import './banner.scss';
</script>