.banner-title {
	@apply text-3xl md:text-4xl lg:text-5xl uppercase font-bold mb-3 sm:mb-5;
}

.banner-description {
	@apply text-sm sm:text-xl md:text-3xl;
}

.swiper-pagination-bullet {
	@apply w-2.5 h-2.5 opacity-100 bg-white relative mx-1.5 transition-colors duration-300 before:content-[''] before:absolute before:w-5 before:h-5 before:-left-[5px] before:-top-[5px] before:border before:border-transparent before:rounded-full before:transition-colors before:duration-300 #{!important};
	&.swiper-pagination-bullet-active {
		@apply bg-accent-500 before:border-accent-500 #{!important};
	}
}

.simple-slider-pagination{
	.swiper-pagination-bullet{
		@apply bg-black/30 mx-1 sm:mx-1.5 #{!important};
		&.swiper-pagination-bullet-active {
			@apply bg-accent-500 before:border-accent-500 #{!important};
		}
	}
}

.swiper-button-next,
.swiper-button-prev {
	@apply bg-gray-200 text-black h-32 w-12 top-1/2 -translate-y-1/2 m-0 opacity-30 transition-opacity duration-500 ease-out hover:opacity-60 #{!important};
	&::after {
		font-size: 20px !important;
		font-weight: medium !important;
	}
}

.simple-slider-button-prev,
.simple-slider-button-next{
	@apply bg-gray-200 opacity-70 h-12 rounded-full top-24 sm:top-[20%] lg:top-[25%] #{!important};
}
.swiper-button-next {
	right: 0 !important;
	&.simple-slider-button-next{
		right: 10px !important;
	}
}

.swiper-button-prev {
	left: 0 !important;
	&.simple-slider-button-prev{
		left: 10px !important;
	}
	
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none !important;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	@apply text-xs sm:text-base w-10 h-10 sm:w-12 sm:h-12;
}

.autoplay-progress svg {
	--progress: 1;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}

.banner{
	.swiper-slide{
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 50%;
			background: -webkit-gradient(linear,left top,left bottom,from(rgba(12,12,11,.8)),to(rgba(12,12,11,0)));
			background: linear-gradient(to bottom,rgba(12,12,11,.8) 0,rgba(12,12,11,0) 100%);
			z-index: 1;
		}
	}
}
