@reference "../../scss/app.css";

.banner-title {
	@apply text-3xl md:text-4xl lg:text-5xl uppercase font-heading-weight mb-3 sm:mb-5;
}

.banner-description {
	@apply xs:text-sm text-base sm:text-xl md:text-3xl relative z-10;
}

.banner .swiper-slide.gradient::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(12,12,11,.8)),to(rgba(12,12,11,0)));
	background: linear-gradient(to bottom,rgba(12,12,11,.8) 0,rgba(12,12,11,0) 100%);
	z-index: 1;
}
