---
interface Props{
	poster: string;
	url: string;
	mobileUrl?: string;
}
const {poster, url, mobileUrl} = Astro.props
---
<div class="lazy absolute inset-0">
	<video
		muted
		loop
		autoplay
		playsinline
		poster={poster}
		class="absolute inset-0 h-full w-full object-cover">
		{ mobileUrl != "" && <source data-src={mobileUrl} type="video/mp4" media="(max-width: 767px)" /> }
		<source data-src={url} type="video/mp4" />
	</video>
</div>